<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="confocal_ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="C1ApplicationTheme" value="ExpressionLight" />
    </appSettings>
    <userSettings>
        <confocal_ui.Properties.Settings>
            <setting name="ThemeName" serializeAs="String">
                <value>BeigeOne</value>
            </setting>
        </confocal_ui.Properties.Settings>
    </userSettings>
</configuration>