<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="confocal_core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <confocal_core.Properties.Settings>
            <setting name="FullScanRange" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AcquisitionMode" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ScannerHead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanPixel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScanPixelDwell" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FastModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanLineSkipEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanLineSkip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel405LaserPower" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScanChannel405LaserColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="ScanChannel405Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel405Gain" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScanChannel405Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel405Gamma" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ScanChannel405PseudoColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="ScanChannel488LaserPower" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScanChannel488LaserColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="ScanChannel488Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel488Gain" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ScanChannel488Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel488Gamma" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ScanChannel488PseudoColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="ScanChannel561LaserPower" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ScanChannel561LaserColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="ScanChannel561Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel561Gain" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ScanChannel561Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel561Gamma" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScanChannel561PseudoColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="ScanChannel640LaserPower" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScanChannel640LaserColor" serializeAs="String">
                <value>MediumVioletRed</value>
            </setting>
            <setting name="ScanChannel640Activated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanChannel640Gain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScanChannel640Offset" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScanChannel640Gamma" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ScanChannel640PseudoColor" serializeAs="String">
                <value>MediumVioletRed</value>
            </setting>
        </confocal_core.Properties.Settings>
    </userSettings>
</configuration>