<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="confocal_core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <confocal_core.Properties.Settings>
            <setting name="FullScanRange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AcquisitionMode" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ScannerHead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScanPixel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScanPixelDwell" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FastModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanLineSkipEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanLineSkip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel405LaserPower" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScanChannel405LaserColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="ScanChannel405Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel405Gain" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScanChannel405Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel405Gamma" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ScanChannel405PseudoColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="ScanChannel488LaserPower" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScanChannel488LaserColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="ScanChannel488Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel488Gain" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ScanChannel488Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel488Gamma" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ScanChannel488PseudoColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="ScanChannel561LaserPower" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ScanChannel561LaserColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="ScanChannel561Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanChannel561Gain" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ScanChannel561Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanChannel561Gamma" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScanChannel561PseudoColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="ScanChannel640LaserPower" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScanChannel640LaserColor" serializeAs="String">
                <value>MediumVioletRed</value>
            </setting>
            <setting name="ScanChannel640Activated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanChannel640Gain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScanChannel640Offset" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScanChannel640Gamma" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ScanChannel640PseudoColor" serializeAs="String">
                <value>MediumVioletRed</value>
            </setting>
            <setting name="DetectorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XGalvoOffsetVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YGalvoOffsetVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GalvoResponseTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="XGalvoCalibrationVoltage" serializeAs="String">
                <value>58.48</value>
            </setting>
            <setting name="YGalvoCalibrationVoltage" serializeAs="String">
                <value>58.48</value>
            </setting>
            <setting name="NiDeviceName" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="XGalvoAoChannel" serializeAs="String">
                <value>/ao0</value>
            </setting>
            <setting name="YGalvoAoChannel" serializeAs="String">
                <value>/ao1</value>
            </setting>
            <setting name="Y2GalvoAoChannel" serializeAs="String">
                <value>/ao2</value>
            </setting>
            <setting name="StartTrigger" serializeAs="String">
                <value>/ao/StartTrigger</value>
            </setting>
            <setting name="TriggerSignal" serializeAs="String">
                <value>/port0/line0</value>
            </setting>
            <setting name="TriggerReceive" serializeAs="String">
                <value>/PFI9</value>
            </setting>
            <setting name="LaserPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
        </confocal_core.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
